* {
  box-sizing: border-box;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Begin header section */
#header-styling {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: normal;
}

#header-button {
  font-size: 1.4rem;
  font-weight: normal;
}
/* End Header section */

/* Begin Add Meal Form section */
form {
  border: 1px solid gray;
  padding: 3%;
}

.meal-display-button-container {
  display: flex;
}

#add-meal-form {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.add-meal-form-h2 {
  font-weight: 300;
  font-size: 1.5rem;
}

.all-form-items {
  display: flex;
  justify-content: space-between;
}

.form-item-container {
  text-align: start;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 45%;
}

#add-meal-submit-button {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 1.2rem;
  font-weight: 400;
}
/* End Add Meal Form section */

/* Begin TotalCalories section */
.total-calories-h3 {
  text-align: center;
  font-size: 2.92rem;
  margin-top: 3%;
  font-weight: 400;
}
/* End TotalCalories section */

/* Begin MealDisplayContainer/SingleMeal section */
.meal-display-container {
  padding: 0;
}

.single-meal-display-item {
  list-style-type: none;
  border: 1px solid blue;
  padding: 0.55% 1%;
  margin: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.single-meal-edit-form {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  width: 100%;
}

.single-meal-edit-form input {
  height: 0.25rem;
}

.single-meal-edit-button {
  background: none;
  border: none;
}

.single-meal-edit-form-btns-container {
  display: flex;
  justify-content: center;
}

/* End MealDisplayContainer/SingleMeal section */

/* Begin responsive design stuff */
@media only screen and (max-width: 860px) {
  main {
    width: 90%;
  }
}

@media only screen and (max-width: 550px) {
  #header-styling {
    flex-direction: column;
  }
  #add-meal-form {
    margin-top: 130px;
  }
  .single-meal-edit-form {
    flex-direction: column;
  }

  .single-meal-display-item {
    flex-direction: column;
  }
}
