* {
  box-sizing: border-box;
  max-width: 100%;
}

main {
  width: 70%;
  margin: 0 auto;
}

#header-styling {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#header-button {
  font-size: 1.2rem;
}

#add-meal-form {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.all-form-items {
  display: flex;
  justify-content: space-between;
}

.form-item-container {
  text-align: start;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 45%;
}

#submit-button {
  margin-top: 2%;
  margin-bottom: 4%;
}
